@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

                    /* Navigation Bar */
.Nav {
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 64px;
}

h4 {
 /* something */
}

.Logo {
padding: 24px;
}

li,a {
    text-decoration: none;
    display: inline;
    margin: 16px;
    font-family: 'Roboto', sans-serif;
    color: inherit
}

/* Landing Page */

.lp {
    padding-top: 64px;
    border: 2px solid black;
    background-color: #e8ebed;
    display: flex;
    align-items: center;
}

.lp-image {
    padding: 32px 24px;
}

.lp-text {
    padding: 24px;
}

.start {
    border: 3px solid #1779a6 ;
    text-align: center;
    background-color: #96d5f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* Main */

.main {
    border: 2px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-img img {
    max-width: 100%;
}

.main-img {
    border: 1px solid black;
    padding: 32px 24px;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-main img {
    padding: 16px;
}

.sub-main {
    border: 1px solid black;
    display: flex;
    
}

.main-info {
    width: 65%
}