@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

                    /* Navigation Bar */
.Nav {
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 10;
}

.Logo {
padding: 24px;
}

li,a {
    text-decoration: none;
    display: inline;
    margin: 16px;
    font-family: 'Roboto', sans-serif;
    color: inherit
}

/* Landing Page */

.lp {
    padding-top: 64px;
    border: 2px solid black;
    background-color: #e8ebed;
    display: flex;
    align-items: center;
}

.lp-image {
    padding: 32px 24px;
}

.lp-text {
    padding: 24px;
}

.start {
    border: 3px solid #1779a6 ;
    text-align: center;
    background-color: #96d5f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* Main */
/*
.main {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-img img {
    max-width: 100%;
}

.main-img {
    border: 1px solid black;
    padding: 32px 24px;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-main1 .sub-main2 .sub-main3 {
    border: 1px solid black;
}

.main-info {
    border: 1px solid black;
} 
*/

/*Main*/

.main{
    width: 59.9%;
    display: flex;
    flex-direction: row;
    border: 1px solid #cfcfcf ;
}



.main-img {
    padding: 32px 25px;
    width: 100%;
    float: left;
}
.main-img img {
    width: 100%;
}

.sub {
    float: right;
    position: relative;
    bottom: 638px;
    width: 40%;
    padding-top: 32px;
    z-index: ;

}

.sub-main {
    display: flex;
    /*flex-direction: row;
    align-items: center;*/
    background-color: #cfcfcf;
    border: 1px solid #adacac;
    
}

.sub-main img {
    padding: 16px;
}
.main-info {
    width: 100%;  
    text-align: left;
}

/*Start Learning*/

.course {
    background-color: #b3b3b3 ;
    padding: 72px;
    padding-top: 600px;
}

.courses {
    border: 1px solid grey;
    background-color: white;
    margin: 32px;
    display: flex;
    flex-direction: column;
}
.course .info {
    padding: 16px;
}

.start-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

